

.form-container {
    box-shadow: 3px 3px 30px 10px rgb(111, 159, 193);
    width: 400px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-title {
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}

.email{
    width: 320px;
}
.pass{
    width: 320px;
}


.form-submit{
    width: 185px;
    height: 35px;
    background-color: rgba(251, 108, 108, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: rgba(255, 153, 0, 0.5);
}

.form-link{
    color: #FF9900;
    text-decoration: none;
}